.formdiv,.infodiv{
  margin: auto;
  width: 50%;
}
.form-group input{
  margin-bottom: 15px;
  width:50%;
}
.infodiv{
  margin-top: 20px;
}

td,th{
  padding : 10px 20px;
  width: auto;
  border-bottom: 2px solid black;
}
td{
  color: rgb(21, 10, 10);
}
.del{
  margin: auto;
  text-align: center;
}
.material-symbols-outlined{
  cursor: pointer;
}